.page_content{
    height: 100vh;
    width: 100%;
    background-color: #ecd7c6;
}


.user_info{
    margin-top: 500px;
    margin-left: -100px;
    width: 250px;
    background-color: transparent;
    position: absolute;
}

.user_ProfilePic{
    height: 200px;
    width: 200px;
    border-radius: 50%;

    margin-left: auto;
    margin-right: auto;
    display: block;
}

.user_banner{
    height: auto;
    width: 100%;

}

.recommended_books{
    margin-left: 500px;
    margin-right: 500px;
    
    border-color: honeydew;
    border-width: 20px;
    
}

.book{
    height: 200px;
    width: 100px;
    display: inline-block;
}

.book_cover{
    height: 100px;
    width: 50px;
}

