
.no_decor{
    text-decoration: None;
}

.signup_header{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.header_img{
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 50%;
}

.signup_panel{
    margin: 7vh auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 30%;
    padding: 1%;
    padding-top: 10vh;
    min-width: 300px;
}

.form_input{
    width: 100%;
    border : 0;
    border-radius: 2px;
    background-color: white;
    color: black;
    font-size: 1em;
    padding:20px;
}

.form_input:focus{
    outline: None;
    background-color: #f2f2f2;
}

.signup_button{
    width: 100%;
    min-height: 50px;
    border: 0;
    border-radius: 2px;
    padding:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    background-color: #bfbfbf;
}

.signup_button:hover{
    background-color: antiquewhite;
    transition: 0.5s;
}

.signup_button:focus{
    outline: None;
}

.signup_link{
    margin-top: 5%;
    text-align: center;
    color: #ffa31a;
    text-decoration: None;
}

.signup_link:hover{
    color: #ff9900;
    text-decoration: underline;
}