.homeLayout{
    /* padding-top: 100px; */
    background-color: #f2f2f2;
    border-radius: 5px;
}

.no_padding{
    padding: 0;
}

.bold{
    font-weight: bold;
}

.cardLayout{
    padding: 20px;
}

.caption{

}

.home_bg {
    /* The image used */
    background-image: url("./../../static/spanner/home_bg.jpg");
    filter: opacity(50%);
    /* Full height */
    height: 100vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }