.page_content{
    height: 100vh;
    width: 100%;
    margin-top: 3rem;
}

.list_padding{
    padding: 10px;
}

.user_ProfilePic{
    border-radius: 50%;
    display: block;
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    border-width: 2px;
    border-style: solid;

}

.profile{
    align-items: center;
    width: 100%;
    display: flex;
    margin-top: 5rem;
}

.comments{
    background-color: rgba(245, 151, 114, 0.089);
    background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
    
    border-style: solid;
    border-color: grey;
}
