.book_cover{
    height: 100px;
    width: 70px;

    border-style: solid;
    border-color: grey;
    border-width: 2px;
}

.title{
    width: 100%;
}

.comment_title{
    text-decoration: none;
    color: rgb(82, 171, 201);
    
}

.list{
    width:100%;
}
.comment_content{
    color: purple;
}

.commenter{
    padding-left: 10px;
    display: inline-block;
    color: rgb(255, 145, 0);
}
