.banner {
    /* The image used */
    background-image: url("./../../static/spanner/home_bg.jpg");
    filter: opacity(45%);
    /* Full height */
    height: 20vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}